<footer class="main-footer">
  <div class="container">
     <strong>Copyright @ 2015-2016
        <a href="http://kiphodan.herokuapp.com" target="_blank">kiphodan Technologies</a>
     </strong> All rigths reserved.
  </div>
</footer>  