<footer class="main-footer">
  <div class="container">
     <strong>Copyright @ 2015-2016
        <a href="https://www.facebook.com/jovzesmie.dulnuan" target="_blank">about me</a>
     </strong> All rigths reserved.
  </div>
</footer>  